.home{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.start {
    width: 50%;
    align-self: center;
}

.display{
    font-size:15vw; 
    text-align: center;
}


@media screen and (min-width: 1035px) {
    .display {
       font-size: 10rem;
    }
}

.secondary-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.info-card{
    margin-top:15vh;
    margin-left: 1%;
    text-align: center;

}
