.home{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.start {
    width: 50%;
    align-self: center;
}

.display{
    font-size:15vw; 
    text-align: center;
}


@media screen and (min-width: 1035px) {
    .display {
       font-size: 10rem;
    }
}